* {
  box-sizing: border-box;
}

.logo {
  width: 60%;
  display: block;
  margin: 10px auto;
}

nav ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: Questrial, monospace;
  text-transform: lowercase;
  font-size: 1.3vw;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  padding-bottom: 5px;
  border-bottom: #26a5dc 1px solid;
  transition: ease-in-out 150ms;
}

/* background image as img */
#main-image {
  width: 100%;
}

.homepage-text {
  width: 70%;
  margin: 10px auto;
}

main .homepage-text p {
  line-height: 2rem;
  font-size: 24px;
}

.on-top {
  z-index: 2;
  position: absolute;
  width: 20%;
}

.on-bottom {
  z-index: 1;
  position: absolute;
  width: 20%;
}

img.on-top:hover {
  z-index: -1;
}

img.on-bottom:hover {
  z-index:3
}
